/bazel-Bazel_with_GTest
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel-template

/bazel-q1_add_overload
/bazel-q2_array_size
/bazel-q3_manipulate_vectors
/bazel-q4_swap
/bazel-q5_strings
